<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/tabs_style.css">
  <script defer src="/javascripts/tabs_script.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Pasta-fy</title>
</head>
<body class="container">
    <nav class="navbar fixed-top">
      <a class="navbar-brand" id="pastafyLogo" href="/"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/penne-pasta-3113269-2597347.png"><span class="navbar-brand">PASTA-FY</span></a>
      <div class="navbarLinks">
        <a href="/ingredients">Explore</a>
        <% if (user) { %>
          <a href="#">Products</a>
          <a href="/builds">Build</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN</a>
        <% } %>
      </div>
    </nav>
  <br>

<div id="main_content">

    <li class="selected" id="page1" onclick="change_tab(this.id);">Pasta</li>
    <li class="notselected" id="page2" onclick="change_tab(this.id);">Sauce</li>
    <li class="notselected" id="page3" onclick="change_tab(this.id);">Vegetables</li>
    <li class="notselected" id="page4" onclick="change_tab(this.id);">Proteins</li>
    <li class="notselected" id="page5" onclick="change_tab(this.id);">Meals</li>
    
    <div class='hidden_desc' id="page1_desc">
        <% pastas.forEach(p=>{ %>
            <div class="d-flex">
                <img src="<%= p.img %>">
                <div class="d-flex ingredientList">
                    <a href="/ingredients/<%= p._id %>"><%= p.name %></a>
                    <form action="/ingredients/<%= p._id %>/pastas" method="POST">
                        <button class="btn btn-danger btn-sm" type='submit'>Add to Build</button>
                    </form>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
   
    <div class='hidden_desc' id="page2_desc">
        <% sauces.forEach(s=>{ %>
            <div class="d-flex">
                <img src="<%= s.img %>">
                <div class="d-flex ingredientList">
                    <a href="/ingredients/<%= s._id %>"><%= s.name %></a>
                    <form action="/ingredients/<%= s._id %>/sauces" method="POST">
                        <button class="btn btn-danger btn-sm" type='submit'>Add to Build</button>
                    </form>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
    
    <div class='hidden_desc' id="page3_desc">
        <% veges.forEach(v=>{ %>
            <div class="d-flex">
                <img src="<%= v.img %>">
                <div class="d-flex ingredientList">
                    <a href="/ingredients/<%= v._id %>"><%= v.name %></a>
                    <form action="/ingredients/<%= v._id %>/veges" method="POST">
                        <button class="btn btn-danger btn-sm" type='submit'>Add to Build</button>
                    </form>
                </div>
            </div>
            <br>
        <% }) %>
    </div>

    <div class='hidden_desc' id="page4_desc">
        <% proteins.forEach(p=>{ %>
            <div class="d-flex">
                <img src="<%= p.img %>">
                <div class="d-flex ingredientList">
                    <a href="/ingredients/<%= p._id %>"><%= p.name %></a>
                    <form action="/ingredients/<%= p._id %>/proteins" method="POST">
                        <button class="btn btn-danger btn-sm" type='submit'>Add to Build</button>
                    </form>
                </div>
            </div>
            <br>
        <% }) %>
    </div>

    <div class='hidden_desc' id="page5_desc">
        <h1 class="display-3">Global Users' Dishes:</h1>
        <% meals.forEach(m=>{ %>
            <div class="mealList">
                <ul>
                    <li><a href="/ingredients/<%= m._id %>"><%= m.name %></a><br></li>
                    <!-- aggregate of all reviews, put in table of two columns -->
                </ul>
            </div>
            <br>
        <% }) %>
    </div>
    
    <div id="page_content">
        <% pastas.forEach(p=>{ %>
            <div class="d-flex">
                <img src="<%= p.img %>">
                <div class="d-flex ingredientList">
                    <a href="/ingredients/<%= p._id %>"><%= p.name %></a>
                    <form action="/ingredients/<%= p._id %>/pastas" method="POST">
                        <button class="btn btn-danger btn-sm" type='submit'>Add to Build</button>
                    </form>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
    
</div>
<br> 



<%- include('../partials/footer') %>