<%- include('../partials/header') %>

<br><br><br><br>


<% if (pasta) { %>
    pasta details here
<% } %>
<% if (sauce) { %>
    <h1 class="display-1"><%= sauce.name %></h1><hr><br>
    Brief history: <br> <%= sauce.desc %>
<% } %>
<% if (vege) { %>
    vege details here
<% } %>
<% if (protein) { %>
    protein details here
<% } %>

<% if (meal) { %>
    <h1 class="display-1"><%= meal.name %></h1><hr><br>

    <!-- Method three -->
    Main Ingredients 3: 
    <%= meal.pasta.name %>, <%= meal.sauce.name %> 
    <% meal.vege.forEach(v=> { %> 
        , <%= v.name %>
    <% }) %>
    <% meal.protein.forEach(p=> { %> 
        , <%= p.name %>
    <% }) %><br>

    Meal description/recipe: WOO WEEEEE, is that delicious. <br><br>

    <form action="/ingredients/<%= meal._id %>/reviews" method="POST" >
        <label>Write a Review:</label><br>
        <textarea name="content"></textarea><br>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button class="btn btn-primary" type="submit">Add Review</button> 
    </form>
    <br>

    <h4>Reviews</h4> <hr>
    <% if (meal.reviews.length) { %>
        <% meal.reviews.forEach(r=> { %>
            <strong><%= r.rating %>/5</strong><br>
            <%= r.content %><br>
            <%= r.createdAt.toLocaleDateString() %><br>

            <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>

                <!-- Trigger/Open The Modal -->
                <button id="myBtn">Edit Review</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Update your review here!</p>
                    <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                        <textarea name="content" placeholder="<%= r.content%>"></textarea><br>
                        <label>Rating:</label>
                        <select name="rating">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>

                </div>
                
            <% } %>


        <% }) %>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>



<% } %>

<%- include('../partials/footer') %>