<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/showPage.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="/javascripts/popupForm_script.js"></script>
  <title>Pasta-fy</title>
</head>
<body class="container">
    <nav class="navbar fixed-top">
      <a class="navbar-brand" id="pastafyLogo" href="/"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/penne-pasta-3113269-2597347.png"><span class="navbar-brand">PASTA-FY</span></a>
      <div class="navbarLinks">
        <a href="/ingredients">Explore</a>
        <% if (user) { %>
          <a href="#">Products</a>
          <a href="/builds">Build</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN</a>
        <% } %>
      </div>
    </nav>
<br><br><br><br><br>

<% if (pasta) { %>
    <div class="ingredientDetail">
        <h1 class="display-1"><%= pasta.name %></h1><hr><br>
        <img src="<%= pasta.img %>"> Brief history: <br> <%= pasta.desc %>
    </div>
<% } %>
<% if (sauce) { %>
    <div class="ingredientDetail">
        <h1 class="display-1"><%= sauce.name %></h1><hr><br>
        <img src="<%= sauce.img %>"> Brief history: <br> <%= sauce.desc %>
    </div>
<% } %>
<% if (vege) { %>
    <div class="ingredientDetail">
        <h1 class="display-1"><%= vege.name %></h1><hr><br>
        <img src="<%= vege.img %>"> Brief history: <br> <%= vege.desc %>
    </div>
<% } %>
<% if (protein) { %>
    <div class="ingredientDetail">
        <h1 class="display-1"><%= protein.name %></h1><hr><br>
        <img src="<%= protein.img %>"> Brief history: <br> <%= protein.desc %>
    </div>
<% } %>

<% if (meal) { %>
    <h1 class="display-1"><%= meal.name %></h1>
    created by: <%= meal.userName %>
    <!-- include aggregate rating -->
    <hr>

    <strong>Main Ingredients: </strong> <%= meal.pasta.name %> , <%= meal.sauce.name %> 
    <% meal.vege.forEach(v=> { %> 
    , <%= v.name %>
    <% }) %>
    <% meal.protein.forEach(p=> { %> 
    , <%= p.name %>
    <% }) %>
    <br><br>
    
    <strong>Dish description/recipe:</strong><br>
    <% if (meal.desc) { %>
        <%= meal.desc %>
    <% } else { %>
        <!-- Trigger Modal - Add dish description -->
        <button class="myBtn_multi btn btn-secondary">Add a description/recipe</button>
    <% } %>
    <br><br>

    <!-- Add Review -->
    <!-- <button id="addReviewBtn" class="btn btn-primary" type="submit">Add Review</button> -->
    <div class="reviewBox">
        <form action="/ingredients/<%= meal._id %>/reviews" method="POST" >
            <span class="star-rating">
                <input type="radio" name="reviewRating" value="1"><i></i>
                <input type="radio" name="reviewRating" value="2"><i></i>
                <input type="radio" name="reviewRating" value="3"><i></i>
                <input type="radio" name="reviewRating" value="4"><i></i>
                <input type="radio" name="reviewRating" value="5"><i></i>
            </span><br>
            <label>Write a Review:</label><br>
            <textarea name="content"></textarea><br>
            <button class="btn btn-primary" type="submit">Add Review</button>
        </form>
    </div>
    <br>                    
        <h4>Reviews</h4> <hr>
        <% if (meal.reviews.length) { %>
            <div class="reviews-container">
                <% meal.reviews.forEach(r=> { %>
                    <%= r.totalReview %>
                    <img alt="avatar" src="<%= r.userAvatar %>">
                    <div class="reviewBg">
                        <div class="d-flex justify-content-between">
                            <div>
                                <% for (let i=0; i < 5; i++) { %>
                                    <% if (i < r.reviewRating ) { %>
                                        <span class="fa fa-star checked"></span>
                                    <% } else { %>
                                        <span class="fa fa-star"></span>
                                    <% } %>
                                <% } %>
                            </div>
                            
                            <% if (user && user._id.equals(r.user)) { %>
                                <div class="d-flex">
                                    
                                    <div class="px-5">
                                        <!-- Trigger Modal - Edit review -->
                                        <button class="myBtn_multi btn btn-secondary btn-sm">Edit</button>
                                    </div>
                                    <div>
                                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <%= r.content %>
                        <div class="d-flex justify-content-between">
                            <div>
                                - <%= r.userName %>
                            </div>
                            <div>
                                <%= r.createdAt.toLocaleDateString() %>
                            </div>
                        </div>
                    </div><hr>


<!-- 
                    
                    <div id="myModal" class="modal">

                        
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/ingredients/<%= meal._id %>" method="POST" >
                                <label>Write your dish's description here:</label><br>
                                <textarea name="desc"></textarea><br>

                                <button class="btn btn-primary" type="submit">Add Description</button> 
                            </form>
                        </div>
                    </div>

                    
                    <div id="myModal2" class="modal">

                    
                        <div class="modal-content">
                            <span class="close">×</span>
                            <p>Update your review here!</p>
                            <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                <textarea name="content" placeholder="<%= r.content %>"></textarea><br>
                                <label>Rating:</label>
                                <span class="star-rating">
                                    <input type="radio" name="reviewRating" value="1"><i></i>
                                    <input type="radio" name="reviewRating" value="2"><i></i>
                                    <input type="radio" name="reviewRating" value="3"><i></i>
                                    <input type="radio" name="reviewRating" value="4"><i></i>
                                    <input type="radio" name="reviewRating" value="5"><i></i>
                                </span>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div> -->
                    
                    <!-- <div id="addReviewModal" class="modal">

                       
                        <div class="modal-content2">
                            <span class="close2">&times;</span>
                            <form action="/ingredients/<%= meal._id %>/reviews" method="POST" >
                                <label>Write a Review:</label><br>
                                <textarea name="content"></textarea><br>
                                <label>Rating:</label><br>
                                <span class="star-rating">
                                    <input type="radio" name="reviewRating" value="1"><i></i>
                                    <input type="radio" name="reviewRating" value="2"><i></i>
                                    <input type="radio" name="reviewRating" value="3"><i></i>
                                    <input type="radio" name="reviewRating" value="4"><i></i>
                                    <input type="radio" name="reviewRating" value="5"><i></i>
                                </span><br><br><br>
                                <button class="btn btn-primary" type="submit">Add Review</button> 
                            </form>
                        </div>
                    </div>  -->

                    <!-- The Modal -->
                    <div class="modal modal_multi">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close close_multi">×</span>
                            <form action="/ingredients/<%= meal._id %>" method="POST" >
                                <label>Write your dish's description here:</label><br>
                                <textarea name="desc"></textarea><br>

                                <button class="btn btn-primary" type="submit">Add Description</button> 
                            </form>
                        </div>

                    </div>

                    <!-- The Modal -->
                    <div  class="modal modal_multi">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close close_multi">×</span>
                            <p>Update your review here!</p>
                            <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                <textarea name="content" placeholder="<%= r.content %>"></textarea><br>
                                <label>Rating:</label>
                                <span class="star-rating">
                                    <input type="radio" name="reviewRating" value="1"><i></i>
                                    <input type="radio" name="reviewRating" value="2"><i></i>
                                    <input type="radio" name="reviewRating" value="3"><i></i>
                                    <input type="radio" name="reviewRating" value="4"><i></i>
                                    <input type="radio" name="reviewRating" value="5"><i></i>
                                </span>
                                <button type="submit">Submit</button>
                            </form>
                        </div>

                    </div>
                    
                <% }) %>
            </div>
            
        <% } else { %>
            <h5>No Reviews Yet</h5>
        <% } %>     

<% } %>
        

<%- include('../partials/footer') %>