<%- include('../partials/header') %>

<br><br><br><br>


<% if (pasta) { %>
    pasta details here
<% } %>
<% if (sauce) { %>
    <h1 class="display-1"><%= sauce.name %></h1><hr><br>
    Brief history: <br> <%= sauce.desc %>
<% } %>
<% if (vege) { %>
    vege details here
<% } %>
<% if (protein) { %>
    protein details here
<% } %>

<% if (meal) { %>
    <h1 class="display-1"><%= meal.name %></h1><hr><br>
    Main Ingredients: <%= meal.ingredients %><br>
    Meal description: WOO WEEEEE, is that delicious. <br><br>

    <form action="/ingredients/<%= meal._id %>/reviews" method="POST" >
        <label>Write a Review:</label><br>
        <textarea name="content"></textarea><br>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button class="btn btn-primary" type="submit">Add Review</button> 
    </form>
    <br>

    <h4>Reviews</h4> <hr>
    <% if (meal.reviews.length) { %>
        <% meal.reviews.forEach(r=> { %>
            <strong><%= r.rating %>/5</strong><br>
            <%= r.content %><br>
            <%= r.createdAt.toLocaleDateString() %><br>

            <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            <% } %><br>

        <% }) %>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>



<% } %>

<%- include('../partials/footer') %>