<%- include('../partials/header') %>

<br><br><br><br>

SHOW INGREDIENT DETAIL

name,
history,
how to make recipe,
recommended recipes
<br>
<% if (pasta) { %>
    pasta details here
<% } %>
<% if (sauce) { %>
    <h1 class="display-1"><%= sauce.name %></h1><hr><br>
    Brief history: <br> <%= sauce.desc %>
<% } %>
<% if (vege) { %>
    vege details here
<% } %>
<% if (protein) { %>
    protein details here
<% } %>
<% if (meal) { %>
    <h1 class="display-1"><%= meal.name %></h1><hr><br>
    Main Ingredients: <%= meal.ingredients %><br>
    Brief history: <%= meal.desc %>

<% } %>

<%- include('../partials/footer') %>